<%= form_for(@repair_request) do |f| %>
  <% if @repair_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair_request.errors.count, "error") %> prohibited this repair_request from being saved:</h2>

      <ul>
      <% @repair_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :open_date %><br />
    <% if current_user && current_user.has_role?(:manager) %>
    <%= @repair_request.open_date %><br />
    <% else %>
    <%= f.date_select :open_date %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :close_date %><br />
    <% if current_user && current_user.has_role?(:manager) %>
    <%= f.date_select :close_date %>
    <% else %>
    <%= @repair_request.close_date %><br />
    <% end %>
  </div>
  <div class="field">
    <%= f.label :request_details %><br />
    <% if current_user && current_user.has_role?(:manager) %>
    <%= @repair_request.request_details %><br />
    <% else %>
    <%= f.text_area :request_details %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :request_response %><br />
    <% if current_user && current_user.has_role?(:manager) %>
    <%= f.text_area :request_response %>
    <% else %>
    <%= @repair_request.request_response %><br />
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
