<h1>Repair Requests</h1>

<table>
  <tr>
    <th>Open date</th>
    <th>Close date</th>
    <th>Request details</th>
    <th>Request response</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @repair_requests.each do |repair_request| %>
  <tr>
    <td><%= repair_request.open_date %></td>
    <td><%= repair_request.close_date %></td>
    <td><%= repair_request.request_details %></td>
    <td><%= repair_request.request_response %></td>
    <td><%= link_to 'Show', repair_request %></td>
    <td><%= link_to 'Edit', edit_repair_request_path(repair_request) %></td>
    <td><%= link_to 'Destroy', repair_request, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Repair request', new_repair_request_path %>
